@import url( 'https://fonts.googleapis.com/css2?família =Bebas + Neue&família =Chakra + Petch:ital, wght @ 0,400; 0,500; 1,500&família =Cormorão + Garamond: local, wght @ 1.600&família =DynaPuff: wght @ 400; 500; 600&família =EB + Garamond: wght @ 400; 500; 600; 700; 800&família =Edu + VIC + WA + NT + Iniciante: wght @ 400; 500&família =Fira + Código: wght @ 300; 400; 500; 600; 700&família =Inconsolata: wght @ 200; 400; 500; 600; 800; 900&família =Kumbh + Sans: wght @ 400; 700&família =Manrope&família =Aberto + Sans:ital, wght @ 0,300; 0,400; 1,300&família =Paixão + Um&família =Poppins: ital, wght @ 0,600; 0,700; 0,800; 0,900; 1.400; 1.600; 1.800; 1.900&família =Público + Sans:ital, wght @ 0,300; 0,700; 0,800; 1.300; 1.700; 1.800&família =Roboto + Mono: local, wght @ 0,500; 1,100&família =Roboto: local, wght @ 0,400; 0,700; 1.400; 1.700&família =Serigrafia: wght @ 400; 700&família =Quadrado + Peg&família =VT323&exibir = swap ');

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}