@media  (max-width: 1200px) { 
    
}

@media  (max-width: 992px){

}

@media  (max-width: 768px){
    .header{
        flex-direction: column;
        width: 100%;
     }
     .titulo{
         flex-direction: column;
         /* margin-top: 50px; */
     }
     .menu li{
         /* display: flex; */
     }
 

}

@media  (max-width: 576px){
    .header{
       flex-direction: column;
       width: 100%;
       text-align: center;
    }

    .titulo{
        flex-direction: column;
    }

    .menu {
        display: inline;
        padding: 15px 23px;
    }

    .menu li a{
        padding: 15px 23px;
    }

    .title{
        overflow: hidden;
        width: 20px;
    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 297px;
    }

    section{
        margin: 0 auto;
    }

}

@media  (min-width: 576px){

}